<h3>¿Queres escribir para el blog?</h3>

<div class="row">
    <div class="col-8">
        <form class="formulario">   
            <div class="form-group">
              <label for="formGroupExampleInput"></label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
            </div>
          <div class="form-group">
            <label for="formGroupExampleInput2"></label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Apellido">
          </div>
          <div class="form-group">
              <label for="formGroupExampleInput2"></label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email">
          </div>
            <button type="submit" class="btn btn-primary">Enviar</button> 
      </form>

</div>
    </div>