<body>
  
      <div class="blog-masthead">
        <div class="container">
          <nav class="nav blog-nav">
            <a class="nav-link active" routerLink="">Inicio</a>
            <a class="nav-link"  routerLink="/post">Posts</a>
            <a class="nav-link"  routerLink="/nosotros">Nosotros</a>
            <a class="nav-link"  routerLink="/contacto">Contacto</a>
            <a class="nav-link"  routerLink="/personajedelmes">Personaje del mes</a>
          </nav>
        </div>
      </div>
  