div{
    background-color: rgba(233, 227, 233, 0.74)

}
img{
    margin: 11px;
    max-width: 98% ;
}

.blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }