.p_title{
        font-family: 'Crimson Text', serif;
        font-size: 29px;
    }    

    .p_body{
        //font-family: 'Slabo 27px', serif;
        font-size: 18px;
        margin-bottom: 50px;
    }
   



.comentarios{
    width: 730px;
}

