.frame{
    margin: 20px;
    padding: 15px;
}
.frame0{
        width: 1000px;
        
}
 .col-md-8{
    border: 2px;
    border-color: rgb(224, 220, 220);
    border-style: outset;
 }   

pagination-controls{
    margin: 30px;
}