
        <div class="row">
        <div class="col-sm-8">
                <h1>
                Personaje del mes
                </h1>
                <h2> {{portadaPost.title}} f</h2>
                
                <p> {{portadaPost.body}} </p>
                        
        </div>
        <div class="col-sm-4"><img src="http://img.rtve.es/v/3867564?w=1180&preview=1484408310362.jpg" class="img-fluid rounded mx-auto d-block img-thumbnail" alt="Responsive image">
        <p><em>Bogart</em></p>
        </div>
        
        </div>